/* poppins google font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* nav related styles */

header {
  max-width: 1440px;
  margin: 50px 150px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  gap: 15px;
}

.nav li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}

.nav h3 {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}

/* camera styles */

.camera {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}

.camera h2 {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
}

.camera p {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}

.camera button {
  border-radius: 41px;
  background: #e02c6d;
  padding: 10px 24px;
  color: #fff;
}

.camera-img {
}

/* company styles */

.company {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
}

/* collection styles */

main {
}

.collection-container {
  max-width: 1440px;
  margin: 100px 150px;
}

.collection-title {
  color: #3a3a3a;
  text-align: center;
  margin-bottom: 47px;
  font-size: 28px;
  font-weight: 600;
}
.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.collection-items {
  width: 300px;
  border-radius: 5px;
  padding: 17px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.collection .collection-item-title {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
  margin-top: 10px;
}

.collection .collection-amount {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0 0 0;
  width: 100px;
  height: 36px;
}

.collection .collection-description {
  color: #787885;
  font-size: 14px;
  font-weight: 700;
}

/* features styles */

.features-container {
  display: flex;
  gap: 96px;
  justify-content: space-between;
  align-items: center;
}

.features-title {
  color: #0a0826;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 157.895% */
}

.features-description {
  color: #6c6c6c;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 175% */
}

.features-btn {
  background-color: #e02c6d;
  color: #fff;
  /* display: inline-flex; */
  padding: 10px 24px;
  /* align-items: flex-start; */
  /* gap: 8px; */
}

/* footer starts */

footer {
  
  width: 100%;
  height: 300px;
  background-color: #0a0826;
  color: #fff;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  margin-top: 150px;
}

.footer h3 {
    /* margin-top: 50px; */
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.font-awesome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
